<div class="container">
	<div class="stats">
		<mat-accordion class="stats__admins">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Admins
					</mat-panel-title>
				</mat-expansion-panel-header>
				<p>Total: {{adminsCracked?.total}} </p>
				<p>Cracked: {{adminsCracked?.cracked}} </p>
				<p>Percentage: {{adminsCracked?.percentage}} </p>
			</mat-expansion-panel>
		</mat-accordion>

        <mat-accordion class="stats__users">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Users
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Total: {{allCracked?.total}} </p>
                <p>Cracked: {{allCracked?.cracked}} </p>
                <p>Percentage: {{allCracked?.percentage}} </p>
            </mat-expansion-panel
                    >
        </mat-accordion>
	</div>
</div>
