<div class="container">
	<div class="backbtn" [routerLink]="['/jobs']">
		<mat-icon class="backbtn__icon">arrow_left</mat-icon>
	</div>
	<div class="stats">
		<mat-card class="stats__info">
			<mat-card-title>Info</mat-card-title>
			<mat-card-subtitle>Id: {{ job?._id }}</mat-card-subtitle>
			<mat-card-content class="stats__info__content">
				<span><b> Name:</b> {{ job?.name }} </span>
				<span><b> Password file:</b> {{ job?.directory + 'passwd.txt' }}</span>
				<span><b> Status:</b> {{ job?.status }}</span>
				<span><b> Format:</b> {{ job?.format }}</span>
				<span><b> Wordlist:</b> {{ job?.wordlist }}</span>
				<span><b> Directory:</b> {{ job?.directory }}</span>
				<span><b> Time:</b> {{ job?.time | date:'HH:mm dd-MM-yyyy'}}</span>
			</mat-card-content>
		</mat-card>
	</div>
</div>
