<div class="container">
	<div class="stats">
		<mat-card class="stats__info">
			<mat-card-title>Info</mat-card-title>
			<mat-card-subtitle>Id: {{ job?._id }}</mat-card-subtitle>
			<mat-card-content class="stats__info__content">
				<span> Name: {{ job?.name }} </span>
				<span> Password file: {{ job?.file }}</span>
				<span> Status: {{ job?.status }}</span>
				<span> Format: {{ job?.format }}</span>
				<span> Wordlist: {{ job?.wordlist }}</span>
				<span> Directory: {{ job?.directory }}</span>
				<span> Time: {{ job?.time | date:'HH:mm dd-MM-yyyy'}}</span>
			</mat-card-content>
		</mat-card>
	</div>
</div>