.container {
  // width: 80%;
  margin: 0 auto;
  padding-top: 0.5em;
  display: grid;
  grid-template-columns: [first] 8% [line2] 85%;
}

.backbtn__icon {
  font-size: 3em;
  color: white;
  background-color: hsla(0, 0, 40, 1);
  margin-left: 0.2em;
  height: 1em;
  width: 1em;
  border-radius: 100%;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  grid-template-areas:
    'header header header header'
    'admins all placeholder placeholder'
}

.stats__info {
  grid-area: header;
}

.stats__info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1em;
}

.stats__admins-cracked {
  grid-area: admins;
}

.stats__admins-cracked__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stats__all-cracked {
  grid-area: all;
}

.stats__all-cracked__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}