.container {
	width: 80%;
	margin: 0 auto;
	padding-top: 1em;
}

.wordlists__list__option,
.wordlists__list__title {
	display: grid;
	grid-template-columns: [first] 2% [line2] 2% [line3] 26% [line4] 26% [line5] 50%;
	column-gap: 1em;

}

.wordlisttitle__name, .wordlisttitle__path, .wordlists__list__title {
	text-align: start;
	background-color: #114B5F;
	color: #C6DABF;
}

.wordlists__list__option mat-icon {
	font-size: 1.2em;
	cursor: pointer;
}

.wordlists__list__title {
	column-gap: 0.7em;
	font-weight: bold;
	font-size: 1.5em;
	color: #114b5f;
}

.wordlists__list__option span {
	word-wrap: break-word;
}

.wordlists__actions__delete,
.wordlists__actions__update,
.wordlists__actions__save {
	margin-right: 1em;
}

.wordlists__actions__save {
	background-color: hsla(125, 51, 57);
}

.new__wordlist__form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.new-wordlist-icon-button {
	width: 40px;
	height: 40px;
	color: #C6DABF;
	background-color: #114B5F;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wordlist__file {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}

.wordlist__file__icon {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-self: center;
	justify-content: flex-end;
	margin-right: 1em;
}

.wordlists__file__text {
	align-self: center;
}

//Hides "Choose file" button and "What file/No has been chosen"
.none {
	display: none !important;
}

.new__wordlist__submit {
	background-color: #114B5F;
	color: #C6DABF;
	flex-grow: 0.15;
	align-self: center;
	align-content: stretch;
}

.new__wordlist {
	margin-bottom: 1em;

}
