.container {
  width: 80%;
  margin: 0 auto;
}

.jobtitle {
  position: sticky;
  top: 0;
  padding: 0.5em;
  grid-template-columns: [first] 30% [line2] 30% [line3] 15% [line4] 15% [line5] 40%;
  display: grid;
  font-weight: bold;
  background-color: #5B6C5D;
  color: #56E39F;
}

