.container {
  width: 80%;
  margin: 0 auto;
  // background: hsla(0, 0, 0, 0.4);
}

.jobtitle {
  position: sticky;
  top: 0;
  padding: 0.5em;
  grid-template-columns: [first] 30% [line2] 30% [line3] 15% [line4] 15% [line5] 40%;
  display: grid;
  background-color: darkred;
  color: antiquewhite;
}

