.toolbar {
	background-color: #C6DABF;
}

.toolbar__title {
	font-family: 'Lobster', cursive;
	font-size: 60px;
	text-shadow: 1px 0 black;
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: #1A936F;
}

.toolbar__tab {
	margin: 0 0.4em 0 0.4em;
	padding: 0.8em;
	color: #1A936F;

}

.toolbar__tab--active {
	background-color: hsla(0, 0, 0, 0.2);
	color: #1A936F;
	outline: none;
}

