<div class="container">
	<div class="start">
		<form [formGroup]="jobForm" class="start__form">
			<mat-form-field>
				<input
					matInput
					type="text"
					class="start__name"
					placeholder="Name..."
					formControlName="name"
				/>
			</mat-form-field>
			<div class="start__file">
			<div class="start__add__file">
				<label class="mat-icon-button">
					<i class="material-icons"
					>cloud_upload</i>
					<input id="file" class="none" type="file" (change)="uploadFile($event)" />
				</label>
			</div>

			<mat-form-field>
				<input
					matInput
					type="text"
					class="start__file__input"
					placeholder="File..."
					formControlName="file"
				/>

			</mat-form-field>
			</div>
			<mat-form-field>
				<mat-select
					class="start__wordlists"
					formControlName="wordlist"
					placeholder="Wordlist..."
				>
					<mat-option
						*ngFor="let wordlist of wordlists"
						[value]="wordlist"
						class="start__wordlists__option"
						>{{ wordlist }}</mat-option
					>
				</mat-select>
			</mat-form-field>
			<button mat-button class="start__submit" (click)="onSubmit()">
				Start Job
			</button>
		</form>
	</div>
</div>
