.container {
	margin: 0 auto;
}

.material-icons {
	width: 40px;
	height: 40px;
	color: #C6DABF;
	background-color: #114B5F;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start__form {
	display: flex;
	justify-content: space-evenly;
}

.start__file {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-self: center;
}

.start__file__icon {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-self: center;
	justify-content: flex-end;
	margin-right: 1em;
}

.start__file__text {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-self: center;
	justify-content: flex-end;
}

.start__submit {
	background-color: #114B5F;
	color: #C6DABF;
	flex-grow: 0.15;
	align-self: center;
	align-content: stretch;
}

//Hides "Choose file" button and "What file/No has been chosen"
.none {
	display: none !important;
}