.container {
	border-bottom: 1px solid black;
}

.job {
	padding: 0.5em;
	align-items: center;
	grid-template-columns: [first] 30% [line2] 30% [line3] 15% [line4] 15% [line5] 40%;
	display: grid;
}

.job__btn {
	margin-right: 50px;
}

